@font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed"),
      url("../public/font/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
}
.banner_section {
  display: inline-block;
  width: 100%;
  position: relative;
}
.banner_img {
  width: 100%;
}
.banner_conte {
  position: absolute;
  top: 0%;
  left: 12%;
  right: auto;
  bottom: auto;
  display: inline-block;
  /* margin: 100px 0; */
  margin: 10% 0;
}
.banner_title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0 !important;
  color: #ffffff;
  text-transform: uppercase;
}
.banner_heading {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 15px 0 !important;
  color: #ffffff;
  max-width: 599px;
}
.learnmore_btn {
  border: none;
  background: #ffd2a4;
  border-radius: 12px;
  padding: 19px 64px;
  max-width: 214px;
  height: 64px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1c1d28;
}
.banner_parag {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 50px 0px !important;
  color: #ffffff;
  max-width: 308px;
}
.banner_parag:before {
  content: "";
  border: 2px solid #ffd2a4;
  transform: rotate(-180deg);
  width: 18px;
  display: inline-block;
  margin-right: 15px;
}
/* Responsive start  */

@media only screen and (max-width: 1199px) {
    .banner_conte{margin: 6% 0; left: 0%; margin-left: 10px;}
}
@media only screen and (max-width: 992px) {
  .banner_heading {
    font-size: 40px;
    line-height: 48px;
    max-width: 316px;
  }
  .banner_parag {
    margin: 20px 0px !important;
  }
  .learnmore_btn {
    max-width: 154px;
    padding: 19px 21px;
    font-size: 15px;
    height: 49px;
  }
  .banner_conte{margin: 8% 0; left: 0%; margin-left: 10px;}
}
@media only screen and (max-width: 768px) {
  .banner_heading {
    font-size: 24px;
    line-height: 31px;
  }
  .banner_conte{margin: 6% 0; left: 0%; margin-left: 10px;}
}
@media only screen and (max-width: 767px) {
  .banner_heading {margin: 10px 0 !important;font-size: 22px;
    line-height: 27px;}
    .learnmore_btn {padding: 15px 12px;height: 44px;}
    .banner_conte{margin: 7% 0; left: 0%; margin-left: 10px;}
}
@media only screen and (max-width: 567px) {
  .banner_heading{font-size: 17px;line-height: 10px;}
  .learnmore_btn{height: 30px;padding: 8px 12px; font-size: 14px;}
  .banner_parag {
    margin: 10px 0px !important;font-size: 14px;
    line-height: 19px;
  }
  .banner_title{font-size: 14px;}
  .banner_conte{margin: 10% 0; left: 0%; margin-left: 10px;}
}
@media only screen and (max-width: 420px) {
  .banner_heading{font-size: 14px;}
  .banner_conte{margin: 10px 0px;}
  .learnmore_btn{
    height: 25px;padding: 5px 12px;
    font-size: 11px;
  }
  .banner_conte{margin: 4% 0; left: 0%; margin-left: 10px;}
}

/* Responsive end  */
